* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.container{
    margin: 0 auto;
    overflow: hidden;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}
.nav{
    padding: 0px 20px;
    display: flex;
}

.nav a{
    color: #000;
    text-decoration: none;
}

.nav ul{
    height: 40px;
}

.nav li{
    display: block;
    float: left;
    line-height: 40px;
    padding: 0 20px 0 0;
}
.banner {
    height: 400px;
    background-image: url(/CSS/image/bg.png);
    background-size: cover;
    padding-top: 60px;
}

.banner h1{
    text-align: center;
    color: #fff;
    font-size: 64px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.banner p{
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

.banner button{
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
    display: block;
    margin: auto;
}

.content{
    min-height: 400px;
    padding: 40px 0;
    margin: 50px 50px;
}

.content h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.content-image {
    width: 300px;
    height: 400px;
    float: right; 
    padding: 30px;
    margin-left: 20px 20px; 
}

.Paks{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hele{
    color: #888;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.sidebar{
    display: block;
    float: right;
    padding: 20px;
    clear: both;
}

.footer{
    display: block;
    background-color: #000;
    opacity: 64%;
    text-align: center;
    color: #fff;
    padding: 64px;
    margin: auto;
    clear: both;
    position: absolute;
    width: 100%;
}
